<section class="listing-area col-md-12 tips-section">
    <div class="listing-holder row">
        <h2 class="high-rank-title">{{ 'home.high.rank.section.header'|trans({}, 'cocorico_listing') }}</h2>
        <!-- post -->
        <div class="slider-secondary">
            <div class="slider-clip">
                <ul class="slides">
                    {%- for listingTmp in listings -%}
                        {% set listing = listingTmp[0] %}
                        {% set listing_translation = listing.translations[app.request.locale] %}
                        {% set listing_location = listing.location %}
                        {% set listing_user = listing.user %}
                        {% set price = (listing.price / 100) | format_price(app.request.locale, 0) %}
                        {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}

                        <article class="listing-post col-sm-4 col-xs-12">
                            <div class="listing-content">
                                <a href="javascript:void(0)" id="favourite-{{ listing.id }}" class="favourit">
                                    <i class="icon-heart"></i>
                                    <span class="hidden">favourit</span>
                                </a>
                                <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}"
                                   class="listing-box">
                                    <div class="frame">
                                        <div class="post-info">
                                            <div class="img-holder">
                                                <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~  listing_image) | imagine_filter('listing_large') }}"
                                                     alt="{{ listing_translation.title ~ " " ~ price }}"/>
                                            </div>

                                            <div class="box">
                                                <div class="box-holder">
                                                    <div class="head">
                                                        <div class="time-price">
                                                            <strong class="price">{{ price }}</strong>

                                                            <p>
                                                                {{ vatInclusionText(app.request.getLocale()) }}
                                                                / {{ (0)|add_time_unit_text }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="foot">
                                                        <div class="area">
                                                            <!-- rating -->
                                                            {% if listing.averageRating %}
                                                                {{ listing.averageRating | cocorico_star_rating }}
                                                                <span class="home-comment-counter">({{ listing.commentCount }})</span>
                                                            {% endif %}
                                                            {% if  listing.certified %}
                                                                <span class="certified">
                                                                    <i class="icon-ok"></i>
                                                                    {{ 'listing.search.result.certified'|trans({}, 'cocorico_listing') }}
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                        <strong class="title list-comma">
                                                            {% for listingListingCategory in listing.listingListingCategories %}
                                                                <span>{{ listingListingCategory.category.translations[app.request.locale].name }}</span>
                                                            {% endfor %}
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="post-content">
                                            {% set image_user = listing_user.images|length ? listing_user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
                                            <div class="alignleft">
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}"
                                                     alt="{{ listing_user.firstName }}"/>
                                            </div>
                                            <div class="textbox">
                                                <h2>{{ listing_translation.title }}</h2>

                                                <p>{{ listing_location.city }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </article>
                    {%- endfor -%}
                </ul>
            </div>{# slider-clip #}
            <div class="slider-secondary-actions">
                <a href="#" class="slider-prev">Previous Slide</a>

                <a href="#" class="slider-next">Next Slide</a>
            </div>

            <div class="slider-secondary-paging"></div>
        </div>
    </div>
</section>
<section class="tips-section">
  <div class="listing-holder infoarea row">
	  <div class="col-xs-12 col-sm-6 col-md-6 info-box acticle-container">
		<div class="acticle-box">
		  <h2 class="high-rank-title">Un très large choix de robes de mariée en location</h2>
		  <p> Chez nous, vous allez certainement trouver la robe de vos rêves. En effet, nous vous proposons un choix très large tant au niveau des tailles, qu’au niveau des styles des robes de mariée dont nous disposons. Si vous cherchez en location robe mariée un modèle plutôt simple et aéré, vous allez certainement adorer l’un de nos modèles empires faites en mousseline</p>
		 <p> Pour celles qui, au contraire, souhaitent se sentir le jour J comme une vraie princesse, notre boutique plateforme a préparé une très large collection des somptueux modèles où vous allez certainement trouver la robe de mariée en location de style princesse, donc vous rêvez toute votre vie. Nous avons pensé à tout et à tous les budgets, c’est la raison pour laquelle nous proposons également la location de robes de mariée pas cher. En effet, une partie de nos modèles vous est proposée en location à des prix très doux qui vous feront certainement plaisir.</p>
		</div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-6 info-box acticle-container">
		<div class="acticle-box">
		  <h2 class="high-rank-title">ROBES DE SOIRÉE DE STYLES DIFFÉRENTS</h2>
		 <p> Vous trouverez dans notre plateforme des robes de soirée de tous les styles possibles. Vous pouvez opter pour une robe de soirée princesse avec une jupe volumineuse en tulle façon mille-feuille pour un look d’une vraie princesse d’un conte de fée.</p>
		 <p> Les strass, la dentelle perlée ou encore le tulle pailleté décorent ce type de robe de soirée pour un effet scintillant, majestueux et festif. Pour un effet ultra-glamour, nous y rajoutons des jolis décolletés dans le dos et des touches de jeu de transparence pour mettre en valeur votre sensualité</p>
		</div>
	  </div>
  </div>
</section>